.fonnn{
    background-color: fff;
}
.bbttnn
{
    width: 200px;
    height: 100px;
}

#btn-fon{
    display: block;
    margin-bottom: 80px;
}

body{
    margin-left: 100px;
    margin-top: 70px;
}
#scale{
    display: block;
    margin-bottom: 80px;
}